<div class="header">
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
          <h1><i class="fab fa-node-js fa-3x"></i></h1>
          <h1>DansAR</h1>
          <p>Dance with everyone on the earth</p>
          <p>Start with a Google Account</p>
          <a class="btn btn-primary btn-block mb-2" onClick="authenticate">Dance</a>
        </div>
      </div>
    </div>
    </body>